{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="author" content="OpenmindsInc">
    <meta name="language" content="English">
    <meta name="copyright" content="Copyright © 2024 OpenmindsInc">
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "OpenmindsInc",
          "url": "http://www.openmindsinc.org",
          "logo": "http://www.openmindsinc.org/static/assets/favicon/favicon-32x32.png",
          "contactPoint": [
            {
                "@type": "ContactPoint",
                "telephone": "+234-808-9421-545",
                "contactType": "customer service"
            }
            ]
        }
    </script>
    {% block metaTags %}
    
    {% endblock metaTags %}
    <!-- ========== Page Title ========== -->
    <title>{% block title %}{% endblock title %}</title>

    <!-- ========== Start Fonts Style ========== -->

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&amp;family=Syne:wght@400;500;600&amp;family=Yantramanav:wght@100;300;400;500;700;900&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/line-awesome@1.3.0/dist/line-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "assets/favicon/site.webmanifest" %}">

    <!-- ========== Start Stylesheet ========== -->
    <link rel="stylesheet"
        href="{% static 'assets/css/iconoir.css' %}">
    <link rel="stylesheet"
        href="{% static 'assets/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- ========== End Stylesheet ========== -->

</head>

<body>

    <!-- Main -->

    <main class="main-page homepage2">

        <!-- Header -->
        <header class="header-area header-2">

            <div class="custom-container">
                <div class="custom-row align-items-center justify-content-between">
                    <div class="header-left d-flex align-items-center">
                        <a href="/" class="logo">
                            <img src="{% static 'assets/logo/openminds-full.png' %}" alt="Logo" />
                        </a>

                        <div class="header-left-right">
                            {% if request.user.is_authenticated %}
                            <a class="theme-btn">{{request.user|truncatechars:7}}</a>
                            {% else %}
                            <a href="{% url "core:contact" %}" class="theme-btn d-none d-sm-block" >Contact</a>
                            {% endif %}
                            <span class="menu-bar" style="background: transparent;">
                                <i class="las la-bars"></i>
                            </span>
                        </div>
                        <nav class="navbar-wrapper d-flex align-items-center" >
                            <span class="close-menu-bar">
                                <i class="las la-times"></i>
                            </span>
                            <ul >
                                <li class="" >
                                    <a href="/" class="nav-link-color">Home</a>
                                   
                                    
                                </li>
                                <li class="">
                                    <a href="{% url "core:about" %}" class="nav-link-color">About</a>
                                   
                                   
                                </li>
                                
                                <li class="mega-menu-item">
                                    <a  class="nav-link-color" style="cursor: pointer;">Engage</a>
                                    <span class="dropdown-menu-item-icon">
                                        <i class="las la-angle-down"></i>
                                    </span>
                                    <div class="mega-menu mega-menu-portfolio">
                                        <div class="mega-menu-inner">
                                            <div class="custom-container d-flex">
                                                <div class="left">
                                                    <div
                                                        class="mega-menu-link-wrap d-flex align-items-start justify-content-between">
                                                        <div class="mega-menu-portfolio-card">
                                                           
                                                            <div class="content-box">
                                                                <h3><a href="{% url "core:blogs" %}">Blog</a></h3>
                                                                <p>Dive into our collection of articles <br> curated to help you succeed and thrive.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="mega-menu-portfolio-card">
                                                            
                                                            <div class="content-box">
                                                                <h3><a href="{% url "core:events" %}">Events</a></h3>
                                                                <p>Stay updated on upcoming events, RSVP to secure your spot, <br> and connect with like-minded individuals who share your interests and passions.</p>
                                                            </div>
                                                        </div>
                                             
                                                    </div>

                                                    <div
                                                        class="mega-meu-footer d-flex align-items-center justify-content-between w-full">
                                                        <ul class="mega-menu-social d-flex align-items-center">
                                                            <li><a href="https://x.com/open_minds2101?s=11" target="_blank"><i class="iconoir-twitter"></i></a></li>
                                                            <li><a href="https://www.instagram.com/openmindsinc?igsh=MXNyaHppZHY3dGNvbA%3D%3D&utm_source=qr" target="_blank"><i class="iconoir-instagram"></i></a></li>
                                                            <li><a href="https://www.facebook.com/profile.php?id=61555431017385&mibextid=2JQ9oc" target="_blank"><i class="iconoir-facebook"></i></a></li>
                                                        </ul>

                                                        <p>
                                                            <a href="{% url "core:events" %}">Engage in events
                                                                <i class="iconoir-arrow-up-right"></i></a>
                                                        </p>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li >
                                    <a href="{% url "core:contact" %}" class="nav-link-color">Contact</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url "userauths:logout" %}" class="nav-link-color">Logout</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url "userauths:sign-in" %}" class="nav-link-color">Sign In</a>
                                </li>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <li>
                                    
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url "userauths:sign-up" %}" class="nav-link-color">Join Us</a>
                                </li>
                                {% endif %}
                             
                            </ul>
                            
                            
                        </nav>
                    </div>
                    <div class="header-right">
                        <div class="header-contact-info d-flex align-items-center">
                            <div class="phone-number">
                                <a href="tel:+2348089421545">
                                    Call Us 
                                    <i class="iconoir-arrow-up-right"></i>   
                                </a>
                                +234-808-9421-545
                                
                            </div>
                            {% if request.user.is_authenticated %}
                            <a class="theme-btn">{{request.user|truncatechars:12}}</a>
                            {% else %}
                            <a href="{% url "core:contact" %}" class="theme-btn">Contact Us</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </header>
{% block MainContent %}


{% endblock MainContent %}
<footer class="footer-area">
    <img src="{% static 'assets/imgs/bg-shape-4.svg' %}" alt="Shape" class="animation-slide-right bg-shape" />
    <div class="footer-top">
        <div class="custom-container">
            <div class="custom-row align-items-end justify-content-between">
                <div class="left-content">
                    <a href="index.html" class="logo">
                        <img src="{% static 'assets/logo/openminds-full.png' %}" style="height: 40px;" alt="Logo" />
                    </a>
                    <p>We provide the expertise and support to <br>
                        propel your business forward.</p>
                    <form action="" method="POST" class="subscribe-form">
                        <div class="subscribe-box d-flex">
                            <input type="email" id="email" name="email" placeholder="Enter Your Email" />
                            <button id="submit2" class="theme-btn">Get Started</button>
                        </div>
                        <!-- Alert Message -->  
                        <div class="input-row">
                            <div class="input-group alert-notification">
                                <div id="alert-message-subscribe" class="alert-msg"></div>
                            </div>
                        </div>
                    </form>
                   
                </div>

                <div class="right-content">
                    <div class="right-content-inner">
                        <h2>Let’s get started on something great</h2>
                        <p>Our team of experts looks forward to meeting with you <br>
                            and providing valuable insights tailored to your business.</p>
                        <a href="{% url "core:contact" %}" class="theme-btn">Get an appointment now</a>

                        <div class="footer-experience d-flex align-items-center">

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="custom-container">
            <div class="custom-row">
                <div class="footer-all-links-wrap justify-content-between d-flex">
                  
                    <div class="footer-links">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="{% url "core:blogs" %}">Blog</a></li>
                            <li><a href="{% url "core:about" %}">About Us</a></li>
                            <li><a href="{% url "core:contact" %}">Contact Us</a></li>
                            <li><a href="{% url "core:events" %}">Events</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Our Fields</h3>
                        <ul>
                            <li><a href="">Education</a></li>
                            <li><a href="">Healthcare</a></li>
                            <li><a href="">Banks</a></li>
 
                        </ul>
                    </div> 
                    <div class="footer-links">
                        <h3>Legal</h3>
                        <ul>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>

                </div>

                <div class="footer-contact-info">
                    <div class="footer-contact-info-item">
                        <h4>Phone</h4>
                        <p>
                            <a href="tel:+2348089421545">+234-808-9421-545</a>
                        </p>
                    </div>
                    <div class="footer-contact-info-item">
                        <h4>Mail</h4>
                        <p>
                            <a href="mailto:openmindincofficial@gmail.com">openmindincofficial@gmail.com</a> <br>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="custom-container">
            <div class="custom-row d-flex align-items-center justify-content-between">
                <ul class="social-links d-flex align-items-center">
                    <li><a href="https://x.com/open_minds2101?s=11">
                        <i class="iconoir-twitter"></i>
                    </a></li>
                    <li><a href="https://www.instagram.com/openmindsinc?igsh=MXNyaHppZHY3dGNvbA%3D%3D&utm_source=qr">
                        <i class="iconoir-instagram"></i>
                    </a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61555431017385&mibextid=2JQ9oc">
                        <i class="iconoir-facebook"></i>
                    </a></li>
                </ul>

                <p>&copy; 2023 All rights reserved by <a href="">OpenmindsInc</a></p>
            </div>
        </div>
    </div>
</footer>


</main>


<!-- jQuery Frameworks
============================================= -->
<script src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'assets/js/ajax.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/Draggable.min.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>

<script src="{% static 'assets/js/client-marquee.js' %}"></script>
<script src="{% static 'assets/js/slideTobook.js' %}"></script>
<script src="{% static 'assets/js/theme-custom.js' %}"></script>
<script src="{% static 'assets/js/form2.js' %}"></script>
<script src="{% static 'assets/js/subscribe-form.js' %}"></script>
<script src="{% static 'assets/js/theme-worldmap.js' %}"></script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>
<script src="//code.tidio.co/zgfzjwgauzf8z8yt6ss3f91sv8wbfzwy.js" async></script>
</body>


</html>