{% extends "partials/base.html" %}
{% load static %}
{% block metaTags %}
<meta name="description" content="Learn about the mission, values, and team behind OpenmindsInc. Discover what makes us unique and why you can trust us for your needs.">
<meta name="keywords" content="About us, mission, values, team, OpenmindsInc, trust">
{% endblock metaTags %}
{% block title %}About Us - OpenmindsInc{% endblock title %}
{% block MainContent %}



        <!-- About Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-about-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Company</h5>
                            <h1 class="section-title fade-in">Our company provides cutting-edge solutions</h1>
                            <p>Experience the transformative power of innovation and seamless solutions with
                                OpenmindsInc, ensuring efficiency and effectiveness at every turn.</p>
                        </div>

                        <div class="hero-company-boxes">
                            <div class="hero-company-box simple-shadow">
                                <h1>22+</h1>
                                <h3>Solutions</h3>
                                <p>Our solutions have made a positive impact on different individuals.</p>
                            </div>
                            <div class="hero-company-box simple-shadow">
                                <h1>98%</h1>
                                <h3>Reliability</h3>
                                <p>You can rely on our solutions to consistently deliver outstanding results.</p>
                            </div>
                            <div class="hero-company-box simple-shadow">
                                <h1>Global</h1>
                                <h3>Reach</h3>
                                <p>Our solutions reach clients and users across the globe, spanning continents.</p>
                            </div>
                            <div class="hero-company-box simple-shadow">
                                <h1>Innovation</h1>
                                <h3>Leadership</h3>
                                <p>We are at the forefront of innovation, leading the way with groundbreaking solutions.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>





        <!-- Service -->
        <section class="company-service-area">
            <div class="custom-container">
                <div class="hero-service-about">
                    <div class="section-header d-flex align-items-center justify-content-between w-full">
                        <div class="left">
                            <h5 class="section-subtitle">OUR COMPANY</h5>
                            <h1 class="section-title">Why Openminds?</h1>
                            <p>Contact us today to begin your journey!</p>
                        </div>
                        <a href="{% url "core:contact" %}" class="theme-btn">Contact Us</a>
                    </div>

                    <img src="{% static 'assets/imgs/hero-company-about.jpg' %}" alt="Service About"/>
                    <div class="hero-service-about-body">
                        <p>
                            At OpenmindsInc, we pride ourselves on assembling a dynamic team comprising top talents, professionals, experts, and visionaries across diverse disciplines. Fueled by a relentless pursuit of excellence, our team members contribute a wealth of experience and expertise to every endeavor we undertake.</p>
                        <ul>
                            <li>
                                <i class="las la-check"></i> Innovative Services and Solutions
                            </li>
                            <li>
                                <i class="las la-check"></i> Flexibility and Adaptability
                            </li>
                            <li>
                                <i class="las la-check"></i> Quick Execution
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- Service Area -->
        <section class="service4-area service-area">
            <div class="custom-container">
                <div class="service-section-header section-header d-flex align-items-end justify-content-between">
                    <div class="left">
                        <h5 class="section-subtitle">WHAT WE’RE OFFERING</h5>
                        <h1 class="section-title">What we do at<br>OpenmindsInc.</h1>
                    </div>
                    <p>
                        One fundamental aspect of solutions provision is infrastructure management. This encompasses the conception, execution, 
                        and upkeep of the foundational elements required for seamless operations, encompassing physical and digital realms,
                         to ensure optimal performance and reliability.</p>
                </div>

                <div class="services-list d-flex">
                    <div class="service-card simple-shadow pop-in">
                        <img src="{% static 'assets/imgs/hwd-icon-1.svg' %}" alt="Service Icon" class="service-icon" />
                        <h3><a href="#">Project Management</a></h3>
                        <p>Orchestrating tasks, resources,
                            and timelines.</p>
                    </div>
                    <div class="service-card simple-shadow pop-in">
                        <img src="{% static 'assets/imgs/hwd-icon-4.svg' %}" alt="Service Icon" class="service-icon" />
                        <h3><a href="#">Research Management</a></h3>
                        <p>Guiding the organization of
                            research.</p>
                    </div>
                    <div class="service-card simple-shadow pop-in">
                        <img src="{% static 'assets/imgs/hwd-icon-6.svg' %}" alt="Service Icon" class="service-icon" />
                        <h3><a href="#">Event Planning/Management</a></h3>
                        <p>Orchestrating resources to execute successful events.</p>
                    </div>
                    <div class="service-card simple-shadow pop-in">
                        <img src="{% static 'assets/imgs/hwd-icon-5.svg' %}" alt="Service Icon" class="service-icon" />
                        <h3><a href="#">Psychological Studies</a></h3>
                        <p>Exploring human behavior
                            and mental processes</p>
                    </div>
                    <div class="service-card simple-shadow pop-in">
                        <span class="service-badge">Free!</span>
                        <img src="{% static 'assets/imgs/hwd-icon-2.svg' %}" alt="Service Icon" class="service-icon" />
                        <h3><a href="#">Educational Consultancy</a></h3>
                        <p>Guiding individuals through
                            education.</p>
                    </div>
                </div>
            </div>
        </section>


        {% comment %} <!-- Our Team -->
        <section class="our-team-2-area">
            <div class="custom-container">
                <div class="section-header our-team-2-header d-flex align-items-center justify-content-between w-full">
                    <img class="animation-slide-right bg-shape" src="{% static 'assets/imgs/bg-shape-10.svg' %}" alt="Shape" />
                    <div class="left">
                        <h5 class="section-subtitle">OUR TEAM</h5>
                        <h1 class="section-title">Our professional experts</h1>
                        <p>Our team is a collective force of top talents, experts, and <br>
                            visionaries from diverse fields.</p>
                    </div>

                    <a href="contact.html" class="theme-btn">Book an appointment with our expert now</a>
                </div>

                <div class="our-team-2-lists">
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team4.png' %}" alt="Team"/>
                        </div>
                        <h2>Jennifer Linda</h2>
                        <span class="designation">Product Designer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-dribbble"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team5.png' %}" alt="Team"/>
                        </div>
                        <h2>Merlin Bullock</h2>
                        <span class="designation">Business Analyst</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-dribbble"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team6.png' %}" alt="Team"/>
                        </div>
                        <h2>Beatrix Clara</h2>
                        <span class="designation">Front End Developer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-dribbble"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team7.png' %}" alt="Team"/>
                        </div>
                        <h2>Richard Parker</h2>
                        <span class="designation">Back End Developer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-dribbble"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team8.png' %}" alt="Team"/>
                        </div>
                        <h2>Aminul Ashfaq</h2>
                        <span class="designation">Devops Engineer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-dribbble"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team9.png' %}" alt="Team"/>
                        </div>
                        <h2>Margeret Allan</h2>
                        <span class="designation">Cloud Expert</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-dribbble"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team10.png' %}" alt="Team"/>
                        </div>
                        <h2>Mason Williams</h2>
                        <span class="designation">System Engineer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-dribbble"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team11.png' %}" alt="Team"/>
                        </div>
                        <h2>Emily Frida</h2>
                        <span class="designation">UX Designer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}





        <!-- CTA -->
        <section class="cta-area mb-5">
            <div class="custom-container">
                <div class="cta-body text-center">
                    <img src="{% static 'assets/imgs/bg-shape-11.svg' %}" alt="Shape" class="animation-slide-left bg-shape"/>
                    <div class="our-expert-team-box">
                        <div class="our-expert-team-box-inner d-flex align-items-center">
                            <div class="imgs d-flex align-items-center">
                                <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                            </div>
                        </div>
                    </div>
                    <h2>Need any further assitance?</h2>
                    <p>Feel free to reach out for any inquiries or assistance.</p>
                    <a href="{% url "core:contact" %}" class="theme-btn">Book an appointment now</a>

                </div>
            </div>
        </section>





        {% endblock MainContent %}