{% extends "partials/base.html" %}
{% load static %}
{% block metaTags %}
<meta name="description" content="Explore insightful articles, news, and updates on various topics at OpenmindsInc blog. Stay informed and entertained with our engaging content.">
<meta name="keywords" content="Blog, articles, news, updates, OpenmindsInc, insights">
{% endblock metaTags %}
{% block title %}Blog - OpenmindsInc{% endblock title %}
{% block MainContent %}

        <!-- Blog Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-blog-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Blog</h5>
                            <h1 class="section-title fade-in">Explore our blog for expert 
                                knowledge and inspiration</h1>
                            <p class="mb-5">Stay connected with us by subscribing to our blog updates. By doing so, <br>
                                you'll receive notifications whenever we publish new articles.</p>
                                <form class="search-box " style="border: 4px solid #000; " action="{% url 'core:search' %}"  method="GET">
                                    <input type="text" name="q" placeholder="Search blogs"/>
                                    <button type="reset"></button>
                                </form>
                        </div>
                        
                       

                    
                    </div>
                </div>
            </div>
        </section>

        <!-- News -->
        {% if blog  %}
        <section class="news-area pt-0">
            <div class="custom-container">

                <div class="sticky-news d-flex card-h">
                    <div class="news-img-box">
                        <img src="{{first_blog.image.url}}" alt="News"/>
                    </div>
                    <div class="news-content">
                        <h5 class="section-subtitle">By {{first_blog.user}}</h5>
                        <a class="section-title" href="{% url "core:blog-detail" first_blog.bid %}">{{first_blog.blog_title}}</a>
                        <p>{{first_blog.description|truncatechars:"103"|safe}}</p>
                        <ul>
                            <li>
                                <i class="las la-check"></i> Collaboration Tools
                            </li>
                            <li>
                                <i class="las la-check"></i> Smart Reminders
                            </li>
                        </ul>
                        <a href="{% url "core:blog-detail" first_blog.bid %}" class="theme-btn">
                            <i class="iconoir-arrow-up-right"></i> 
                        </a>
                    </div>
                </div>

                <div class="news-items align-items-start">
                    {% for blog in blogs %}
                    <div class="news-item card-h">
                        <div class="news-img-box">
                            <img src="{{blog.image.url}}" alt="News"/>
                        </div>
                        <div class="news-item-body">
                            <h5 class="section-subtitle">By {{blog.user}}</h5>
                            <h1 class="section-title">
                                <a href="{% url "core:blog-detail" blog.bid %}">{{blog.blog_title}}</a>
                            </h1>
                            <p>{{blog.description|truncatechars:"103"|safe}}.</p>
                            <ul>
                                <li>
                                    <i class="las la-check"></i> Collaboration Tools
                                </li>
                                <li>
                                    <i class="las la-check"></i> Smart Reminders
                                </li>
                                <li>
                                    <i class="las la-check"></i> Requirement
                                </li>
                                <li>
                                    <i class="las la-check"></i> Task Management
                                </li>
                            </ul>
                            <a href="{% url "core:blog-detail" blog.bid %}" class="theme-btn">
                                <i class="iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}


                </div>

            </div>
        </section>
        {% endif %}



{% endblock MainContent %}