{% extends "partials/base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block MainContent %}


        <!-- Blog Breadcrumb -->
        <section class="blog-details-header-area">
            <div class="custom-container">
                <div class="blog-details-header-content-body d-flex align-items-center">
                    <div class="section-header pt-5">
                        {% if request.user.is_authenticated %}
                        {% if blog.read %}
                        <h5 class="section-subtitle">Blog read ✔</h5>
                        {% else %}
                        <h5 class="section-subtitle">Blog</h5>
                        {% endif %}
                        {% endif %}
                        <h1 class="section-title fade-in">{{blog.blog_title}}</h1>
                        <p>Stay connected with us by subscribing to our blog updates.</p>
                    </div>
                    <div class="img-box">
                        <img src="{{blog.image.url}}" alt="Blog"/>
                    </div>
                </div>
            </div>
        </section>

        <!-- Blog Content -->
        <section class="blog-details-area">
            <div class="custom-container">
                <div class="blog-details-body">
                    <div class="blog-details-inner">

                        <div class="blog-details-introduction">
                            {{blog.description|safe}}
                            {% if request.user.is_authenticated %}
                            <div class="blog-details-pagination d-flex align-items-center justify-content-between">
                            {% if blog.read %}
                            <a  class="theme-btn" >Blog read <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 4.5C4 3.11929 5.11929 2 6.5 2H20V22H6.5C5.11929 22 4 20.8807 4 19.5V4.5Z" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path><path d="M4 19.5V19.5C4 18.1193 5.11928 17 6.49998 17H20" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
                            {% else %}
                            <a  class="theme-btn mark-as-read-btn" data-blog-id="{{ blog.id }}">Mark as Read ✔</a>
                            {% endif %}
                            </div>
                            {% else %}
                            <div class="blog-details-pagination d-flex align-items-center justify-content-between">
                        
                                <a href="{% url "core:blogs" %}" class="theme-btn">All Blogs</a>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </section>



        <!-- News Section -->
        <section class="news-area">
            <div class="custom-container">
                <div class="section-header d-flex align-items-end justify-content-between">
                    <div class="left">
                        <h5 class="section-subtitle">OUR LATEST BLOGS</h5>
                        <h1 class="section-title">Read more blogs of our company</h1>
                    </div>
                </div>

                 {% comment %} <div class="sticky-news d-flex card-h1">
                    <div class="news-img-box">
                        <img src="{{random_blogs.first.image.url}}" alt="{{random_blogs.first.blog_title|truncatechars:"20"}}"/>
                    </div>
                    <div class="news-content">
                        <h5 class="section-subtitle">By {{random_blogs.first.user}}</h5>
                        <h1 class="section-title">
                            <a href="{% url "core:blog-detail" random_blogs.first.bid %}">{{random_blogs.first.blog_title}}</a>
                        </h1>
                        <p>{{random_blogs.first.description|truncatechars:"200"|safe}}</p>
                        
                        <a href="{% url "core:blog-detail" random_blogs.first.bid %}" class="theme-btn">
                            <i class="icon-right iconoir-arrow-up-right"></i>
                        </a>
                    </div>
                </div>  {% endcomment %}

                <div class="news-items d-flex align-items-start">
                    {% for r in random_blogs %}
                    <div class="news-item card-h1">
                        <div class="news-img-box">
                            <img src="{{r.image.url}}" alt="{{r.blog_title|truncatechars:"20"}}"/>
                        </div>
                        <div class="news-item-body">
                            <h5 class="section-subtitle">By {{r.user}}</h5>
                            <h1 class="section-title">
                                <a href="{% url "core:blog-detail" r.bid %}">{{r.blog_title}}</a>
                            </h1>
                            <p>{{r.description|truncatechars:"99"|safe}}</p>
                       
                            <a href="{% url "core:blog-detail" r.bid %}" class="theme-btn">
                                <i class="icon-right iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </section>





        {% endblock MainContent %}