{% extends "partials/base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block MainContent %}



        <!-- Event Details Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-overview-wrap hero-event-details-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Events</h5>
                            <h1 class="section-title fade-in">{{event.event_title}}</h1>
                            <p>{{event.event_discussion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Event Details -->
        <section class="event-details-area">
            <div class="custom-container">
                <div class="custom-row align-items-center">
                    <div class="img-box">
                        <img src="{% static 'assets/imgs/event-details.jpg' %}" alt="Event Details"/>
                    </div>
                    <div class="content-box">
                        <div class="section-header">
                            <h5 class="section-subtitle">FRI, APRIL 17</h5>
                            <h1 class="section-title">Join Us at the Event</h1>
                            <p>Join us for a cloud computing workshop, presented by
                                Slack</p>
                        </div>
                        <p>Be among the first to witness our cutting-edge products that push the boundaries of technology. From state-of-the-art gadgets to game-changing solutions.</p>

                        <ul>
                            <li>
                                <i class="lar la-clock"></i> {{event.start_time}} - {{event.end_time}}
                            </li>
                            <li>
                                <i class="lar la-calendar"></i> {{ event.venue_date|date:""}}
                            </li>
                            <li>
                                <i class="las la-map-marker"></i> {{event.venue}}
                            </li>
                            <li>
                                <i class="lar la-user"></i> Host - {{event.host}}
                            </li>
                        </ul>

                        <a href="#" class="theme-btn">Book your tickets now</a>
                    </div>
                </div>
            </div>
        </section>


        <!-- CTA -->
        <section class="cta-area pb-5">
            <div class="custom-container">
                <div class="cta-body text-center">
                    <img src="{% static 'assets/imgs/bg-shape-11.svg' %}" alt="Shape" class="animation-slide-left bg-shape"/>
                    <div class="our-expert-team-box">
                        <div class="our-expert-team-box-inner d-flex align-items-center">
                            <div class="imgs d-flex align-items-center">
                                <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                            </div>
                        </div>
                    </div>
                    <h2>Need any further assitance?</h2>
                    <p>Feel free to reach out for any inquiries or assistance.</p>
                    <a href="{% url "core:contact" %}" class="theme-btn">Book an appointment now</a>

                </div>
            </div>
        </section>




    {% endblock MainContent %}