{% extends "partials/base.html" %}
{% load static %}
{% block metaTags %}
<meta name="description" content="Discover upcoming events, conferences, and seminars hosted by OpenmindsInc. Stay updated and join us for enriching experiences.">
<meta name="keywords" content="Events, conferences, seminars, OpenmindsInc, upcoming events">
{% endblock metaTags %}
{% block title %}Events - OpenmindsInc{% endblock title %}
{% block MainContent %}


       <!-- Event Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-career-wrap hero-event-wrap" >
            <div class="hero-section-content-wrap background-text-img">
                <img src="{% static 'assets/imgs/bg-shape-1.svg' %}" alt="Shape" class="animation-slide-left bg-shape" />
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Events</h5>
                            <h1 class="section-title fade-in">Our mentor teaching everywhere</h1>
                            <p>Every event we organize is a unique opportunity to craft memorable experiences. We go <br>
                                beyond the ordinary, paying attention to every detail</p>
                            <a href="{% url "core:contact" %}" class="theme-btn">Book an appointment now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Events -->
        <section class="event-area">
            <div class="custom-container">
                <div class="section-header">
                    <h5 class="section-subtitle">OUR COMPANY EVENTS</h5>
                    <h1 class="section-title">Upcoming Events</h1>
                    <p>Event management can be a complex undertaking.</p>
                </div>

                <div class="news-items align-items-start">
                    {% for event in events %}
                    <div class="news-item event-card card-h">
                        <div class="news-img-box">
                            <img src="{{event.image.url}}" alt="Event"/>
                        </div>
                        <div class="news-item-body">
                            <h5 class="section-subtitle">{{event.venue_date|date:"D, F j"}}</h5>
                            <h1 class="section-title">
                                <a href="{% url "core:event-detail" event.eid %}">{{event.event_title}}</a>
                            </h1>
                            <p>{{event.description|truncatechars:"88"}}</p>
                            <ul>
                                <li>
                                    <i class="las la-clock"></i> {{event.start_time}} - {{event.end_time}}
                                </li>
                                <li>
                                    <i class="las la-map-marker"></i> {{event.venue}}
                                </li>
                                <li>
                                    <i class="las la-calendar"></i> {{event.venue_date}}
                                </li>
                                <li>
                                    <i class="las la-user"></i> Host - {{event.host}}
                                </li>
                            </ul>
                            <a href="event-single.html" class="theme-btn">
                                <i class=" iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </section>


        <!-- CTA -->
        <section class="cta-area cta-area2">
            <div class="custom-container">
                <div class="cta-body text-center d-flex align-items-center justify-content-between">
                    <img src="{% static 'assets/imgs/bg-shape-12.png' %}" alt="Shape" class="animation-slide-right bg-shape"/>
                    <div class="left">
                        <div class="our-expert-team-box">
                            <div class="our-expert-team-box-inner d-flex align-items-center">
                                <div class="imgs d-flex align-items-center">
                                    <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                                    <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                                    <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                                    <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                                </div>
                            </div>
                        </div>
                        <h2>Build your project with us, Make it world class</h2>
                        <p>Our projects are born from a passion for innovation that knows no bounds.</p>
                    </div>
                    <a href="{% url "core:contact" %}" class="theme-btn">Book an appointment now</a>

                </div>
            </div>
        </section>


        <!-- About -->
        <section class="about-service3-area about-service5-area">
            <div class="custom-container">
                <div class="custom-row align-items-center">
                    <div class="img-box">
                        <img src="{% static 'assets/imgs/about-service-5.jpg' %}" alt="About" />
                    </div>

                    <div class="content-box">
                        <h1>Why our services are <br>
                            better than others?</h1>
                        <p>We don't believe in a one-size-fit-all approach. Our services are carefully customized to suit your specific need, ensuring you to achieve your goals.</p>
                        <p>We believe in delivering value that extends  your beyond the immediate project. Our services are designed to provide a long-term benefits.</p>
                       
                    </div>
                </div>
            </div>
        </section>



    {% endblock MainContent %}