{% extends "partials/base.html" %}
{% load static %}
{% block metaTags %}
<meta name="description" content="Welcome to OpenmindsInc. Solving problems and Research is what we do.">
<meta name="keywords" content="OpenmindsInc, business, services, solutions, company, homepage"> 
{% endblock metaTags %}
{% block title %}Welcome to OpenmindsInc{% endblock title %}
{% block MainContent %}

        <!-- Hero -->
        <section class="hero-empowerment-area">
            <div class="custom-container">
                <div class="custom-row align-items-center">
                    <div class="hero-empowerment-left-content">
                        <h5 class="section-subtitle">HAVEN OF POSSIBILITIES</h5>
                        <h1 class="section-title fade-in">Solving problems and Research is what we do.</h1>
                        <p>We offer tailored solutions to empower your endeavors.</p>
                        <div class="btns-group d-flex">
                            <a href="{% url "userauths:sign-up" %}" class="theme-btn">Join Us</a>
                            <a href="{% url "core:contact" %}" class="theme-btn2">Let's Talk
                                <i class="iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="hero-empowerment-right-content">
                        <div class="top-content">
                            <img class="desktop fade-in" src="{% static 'assets/imgs/bg001.jpg' %}" alt="Empowerment" />
                            <img class="mobile" src="{% static 'assets/imgs/bg1.png' %}" alt="Empowerment" />

                            <div class="experience-box simple-shadow bounce-in">
                                <div class="experience-body d-flex align-items-center">
                                    <img src="{% static 'assets/logo/openminds-full-small.png' %}" alt="Icon" />

                                    <div class="experience-content d-flex align-items-center">
                                        
                                        <p>
                                            OpenmindsInc
                                            <span></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bottom-content d-flex">
                            <a class="our-expert-team-box simple-shadow bounce-in delay-2">
                                <div class="our-expert-team-box-inner d-flex align-items-center">
                                    <div class="imgs imgs1 d-flex align-items-center">
                                        <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                                        <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                                        <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                                        <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                                    </div>
                                    <p>
                                        Solutions
                                        <span>Experts</span>
                                    </p>
                                </div>
                            </a>

                            <div class="google-reviews-box simple-shadow bounce-in delay-3">
                                <div class="left">
                                    <span>Trusted by</span>
                                    <p style="font-size: 12px; color: #1351d8;">Companies</p>
                                </div>
                                <div class="right">
                                    <div class="stars d-flex align-items-center">
                                        <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                        <i class="las la-star-half"></i>
                                    </div>
                                    <p>
                                        3245
                                        <span>Reviews</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="custom-container " id="contactSection">

                <div class="hero-contact-form-wrap" >
                    <div class="hero-contact-form-inner-wrap">
                        <div class="mt-5">

                            <div class="hero-contact-form-header d-flex align-items-center justify-content-between">
                                <p>You can contact us anytime via <a href="mailto:openmindincofficial@gmail.com">openmindincofficial@gmail.com</a></p>

                                
                            </div>

                            <div class="hero-contact-form">
                            

                                <form method="POST" class="contact-form d-flex" id="bookingForm" onsubmit="return validateForm()">
                                    {% csrf_token %}
                                    <div class="input-main-row">
                                        <div class="input-row">
                                            <div class="input-group">
                                                <label for="first_name">First Name</label>
                                                <input type="text" placeholder="First Name" id="first_name" name="first_name" required/>
                                            </div>
                                            <div class="input-group">
                                                <label for="last_name">Last Name</label>
                                                <input type="text" placeholder="Last Name" id="last_name" name="last_name" required/>
                                            </div>
                                        </div>
                                        <div class="input-row">
                                            <div class="input-group">
                                                <label for="email">Email</label>
                                                <input type="email" placeholder="Your Email" id="email" name="email" required/>
                                            </div>
                                        </div>
                                        <div class="input-row">
                                            <div class="input-group">
                                               
                                                <label for="business_name">Business Name</label>
                                                <input type="text" name="business_name" placeholder="Your Business Name" required/>
                                            </div>
                                            <div class="input-group">
                                                <label for="country">Country</label>
                                                {{form.country}}
                                            </div>
                                        </div>
                                        <div class="input-row">
                                            <div class="input-group">
                                                <label>What's the type of your company?</label>
                                                <div class="choice-a-company flex-wrap d-flex">
                                                    
                                                    <div class="radio-box">
                                                        <input type="radio" id="education" name="company_type" value="Education"/>
                                                        <label for="education">Education</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" id="business" name="company_type" value="Business"/>
                                                        <label for="business">Business</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" id="agency" name="company_type" value="Agency"/>
                                                        <label for="agency">Agency</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" id="saas" name="company_type" value="SAAS"/>
                                                        <label for="saas">SAAS</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" id="other" name="company_type" value="Other"/>
                                                        <label for="other">Other</label>
                                                    </div>
                                                </div>
                                                <small id="radioError" style="color: red;"></small>
                                            </div>
                                        </div>
                                        <div class="input-row">
                                            <div class="input-group">
                                                <label>What do you need from us?</label>
                                                <div class="feedback-checkboxes d-flex flex-wrap">
                                                    {% for service in services %}
                                                    <div class="feedback-item">
                                                        <input type="checkbox" id="{{service.sid}}" name="company_needs" value="{{service.id}}"/>
                                                        <label for="{{service.sid}}">{{service.title}}</label>
                                                    </div>
                                                    {% endfor %}
                                                    
                                                </div>
                                                <small id="checkboxError" style="color: red;"></small>
                                            </div>
                                        </div>
                                    </div>
                            
                                    
                                    
                                    
                                    <div class="input-main-row">
                                        <div class="input-row">
                                            <div class="input-group">
                                                <label for="message">Message</label>
                                                <textarea name="message" id="message" placeholder="Leave us a message...."></textarea>
                                            </div>
                                            
                                        </div>
                                        <small id="messageError" style="color: red;"></small>
                                        <div class="input-row">
                                            <div class="input-group input-checkbox">
                                                <small id="messageError" style="color: red;"></small>
                                            </div>
                                        </div>
                                        <div class="input-row">
                                            <div class="input-group">
                                                <button class="theme-btn" id="bookingBtn">Submit</button>
                                            </div>
                                        </div>
                                        <!-- Alert Message -->
                                        <div class="input-row">
                                            <div class="input-group alert-notification">
                                                <div id="bookingErrorMessage" class="text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Client Section -->



        <!-- Services -->
        <section class="service2-area">
            <img class="bg-shape" src="{% static 'assets/imgs/bg-shape-7.svg' %}" alt="Shape"/>
            <div class="custom-container">
                <div class="custom-row">
                    <div class="service2-header d-flex align-items-center justify-content-between w-full">
                        <div class="left">
                            <h5 class="section-subtitle">OUR SERVICES</h5>
                            <h1 class="section-title">What we do at OpenmindsInc</h1>
                            <p>Empowering Growth with Innovative Solutions.</p>
                        </div>
                    </div>
                </div>

                <div class="service2-items d-flex w-full">
                    <div class="service2-card card-h ">
                        <img src="{% static 'assets/imgs/project_manage.jpg' %}" class="rounded-2" loading="lazy" style="width: 241.6px; height: 128px;" alt="two young men discussing on their projects"  />
                        <h2>Project Management</h2>
                        <p>Orchestrating tasks, resources, <br>
                            and timelines to achieve goals efficiently. </p>
                        <a href="#contactSection" class="theme-btn">
                            <i class="iconoir-arrow-up-right"></i> 
                        </a>
                    </div>
                    <div class="service2-card card-h ">
                        <img src="{% static 'assets/imgs/research_manage.jpg' %}" class="rounded-2" loading="lazy" style="width: 241.6px; height: 128px;" alt="Team mates researching" />
                        <h2>Research Management</h2>
                        <p>Guiding the organization  of  <br>
                           research endeavors for effective outcomes. </p>
                        <a href="#contactSection" class="theme-btn">
                            <i class="iconoir-arrow-up-right"></i> 
                        </a>
                    </div>
                    <div class="service2-card card-h ">
                        <img src="{% static 'assets/imgs/education.jpg' %}" class="rounded-2" loading="lazy"  style="width: 241.6px; height: 128px;" alt="Books and apples on a table" />
                        <h2>Educational Consultancy</h2>
                        <p>Guiding individuals through <br>
                            education for optimal learning outcomes.</p>
                        <a href="#contactSection" class="theme-btn">
                            <i class="iconoir-arrow-up-right"></i> 
                        </a>
                    </div>
                    <div class="service2-card card-h ">
                        <img src="{% static 'assets/imgs/psychology.jpg' %}" class="rounded-2" loading="lazy" style="width: 241.6px; height: 128px;" alt="A lady discussing with a woman" />
                        <h2>Psychological Studies</h2>
                        <p>Exploring human behavior <br>
                            and mental processes through research. </p>
                        <a href="#contactSection" class="theme-btn">
                            <i class="iconoir-arrow-up-right"></i>  
                        </a>
                    </div>
                </div>

                <div class="d-flex gap-24 service2-bottom-2-col">
                    <div class="service3-card d-flex flex-1 card-h">
                        <img src="{% static 'assets/imgs/event_planning.jpg' %}" loading="lazy" alt="A big hall"/>
                        <div class="service3-body">
                            <div class="service3-content">
                                <h3 style="font-size: 20px;">Event Planning/Management</h3>
                                <p>Orchestrating logistics, schedules,<br>
                                    and resources to execute successful events.</p>
                                <ul>
                                    <li><i class="las la-check"></i> Turning Visions Real</li>
                                    <li><i class="las la-check"></i> Crafting Memorable Experiences</li>
                                </ul>
                                <a href="#contactSection" class="theme-btn">
                                    <i class="iconoir-arrow-up-right"></i>  
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service3-card d-flex flex-1 card-h">
                        <img src="{% static 'assets/imgs/project_supervision.jpg' %}" loading="lazy" alt="A woman supervising her teammates"/>
                        <div class="service3-body">
                            <div class="service3-content">
                                <h3 style="font-size: 20px;">Project Monitoring/Supervision</h3>
                                <p>Overseeing project progress and<br>
                                    ensuring adherence to objectives quality standards. </p>
                                <ul>
                                    <li><i class="las la-check"></i> Industry Insights</li>
                                    <li><i class="las la-check"></i> Optimize Resources</li>
                                </ul>
                                <a href="#contactSection" class="theme-btn">
                                    <i class="iconoir-arrow-up-right"></i>  
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About -->
        <section class="about2-area">
            <div class="custom-container">
                <div class="about2-inner-box">

                    <div class="about2-header">
                        <h5 class="section-subtitle">SPECIALIZATION</h5>
                        <h1 class="section-title">What should we do for you</h1>
                    </div>
                    
                    <ul class="nav nav-tabs about2-tabs" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" id="business_strategy-tab" data-bs-toggle="tab" href="#business_strategy"
                                role="tab" aria-controls="business_strategy" aria-selected="true">
                                <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-1.svg' %}" alt="Icon"/></span> Project Management
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="market_analysis-tab" data-bs-toggle="tab" href="#market_analysis" role="tab"
                                aria-controls="market_analysis" aria-selected="false">
                                <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-4.svg' %}" alt="Icon"/></span> Research Management
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="process_optimation-tab" data-bs-toggle="tab" href="#process_optimation" role="tab"
                                aria-controls="process_optimation" aria-selected="false">
                                <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-6.svg' %}" alt="Icon"/></span> Event Planning/Management
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="performance_improvement-tab" data-bs-toggle="tab" href="#performance_improvement" role="tab"
                                aria-controls="performance_improvement" aria-selected="false">
                                <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-2.svg' %}" alt="Icon"/></span> Educational Consultancy
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="entrepreneurial_guidance-tab" data-bs-toggle="tab" href="#entrepreneurial_guidance" role="tab"
                                aria-controls="entrepreneurial_guidance" aria-selected="false">
                                <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-3.svg' %}" alt="Icon"/></span> Project Monitoring/Supervision
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="psychology_guidance-tab" data-bs-toggle="tab" href="#psychology_guidance" role="tab"
                                aria-controls="psychology_guidance" aria-selected="false">
                                <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-5.svg' %}" alt="Icon"/></span> Psychological Studies
                            </button>
                        </li>
                        
                    </ul>


                    <div class="tab-content about2-tab-content">
                        <div class="tab-pane fade show active" id="business_strategy" role="tabpanel" aria-labelledby="business_strategy-tab">
                            <div class="about2-tab-content-body d-flex gap-24">
                                <div class="img-box">
                                    <img src="{% static 'assets/imgs/project_manage.jpg' %}" style="width: 450px;" alt="Two men discussing about a project"/>
                                </div>

                                <div class="content-box card-h">
                                    <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                        <div class="mac-buttons d-flex align-items-center">
                                       
                                        </div>
            
                                        <div class="action-btn d-flex align-items-center">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>

                                    <h1>
                                        <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-1.svg' %}" alt="Icon"/></span> Transforming Goals Into Reality
                                    </h1>
                                    <div class="content">
                                        <p>Open Mind Inc. are ever ready to plan and carry out projects, we are open for contracts and project study as we are connected to professionals for your tasks</p>
                                       
                                    </div>
                                    <a href="#contactSection" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="market_analysis" role="tabpanel" aria-labelledby="market_analysis-tab">
                            <div class="about2-tab-content-body d-flex gap-24">
                                <div class="img-box">
                                    <img src="{% static 'assets/imgs/research_manage.jpg' %}" loading="lazy" alt="Group of people researching"/>
                                </div>

                                <div class="content-box card-h">
                                    <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                        <div class="mac-buttons d-flex align-items-center">
                                       
                                        </div>
            
                                        <div class="action-btn d-flex align-items-center">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>

                                    <h1>
                                        <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-4.svg' %}" alt="Icon"/></span> Transforming Goals Into Reality
                                    </h1>
                                    <div class="content">
                                        <p>Open Mind Inc. are ever ready to plan and carry out projects, we are open for contracts and project study as we are connected to professionals for your tasks</p>
                                       
                                    </div>
                                    <a href="#contactSection" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="process_optimation" role="tabpanel" aria-labelledby="process_optimation-tab">
                            <div class="about2-tab-content-body d-flex gap-24">
                                <div class="img-box">
                                    <img src="{% static 'assets/imgs/event_planning.jpg' %}" loading="lazy" alt="A large hall for a seminar or event"/>
                                </div>

                                <div class="content-box card-h">
                                    <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                        <div class="mac-buttons d-flex align-items-center">
                                         
                                        </div>
            
                                        <div class="action-btn d-flex align-items-center">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>

                                    <h1>
                                        <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-6.svg' %}" alt="Icon"/></span> Event Planning/Management
                                    </h1>
                                    <div class="content">
                                        <p>We also handle well coordinated handling of events making sure that we meet desired operations of our customers</p>
                                        
                                    </div>
                                    <a href="#contactSection" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        
                        <div class="tab-pane fade" id="performance_improvement" role="tabpanel" aria-labelledby="performance_improvement-tab">
                            <div class="about2-tab-content-body d-flex gap-24">
                                <div class="img-box">
                                    <img src="{% static 'assets/imgs/education.jpg' %}" loading="lazy" alt="Books and fruits on a table"/>
                                </div>

                                <div class="content-box card-h">
                                    <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                        <div class="mac-buttons d-flex align-items-center">
                                           
                                        </div>
            
                                        <div class="action-btn d-flex align-items-center">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>

                                    <h1>
                                        <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-2.svg' %}" alt="Icon"/></span> Igniting minds, not just classrooms
                                    </h1>
                                    <div class="content">
                                        <p>In Open Minds, we are interested in sessions, interviews and seminar on educational issues and reasonable ways of of solving them with a push for easier learning.</p>
                                      
                                    </div>
                                    <a href="#contactSection" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="entrepreneurial_guidance" role="tabpanel" aria-labelledby="entrepreneurial_guidance-tab">
                            <div class="about2-tab-content-body d-flex gap-24">
                                <div class="img-box">
                                    <img src="{% static 'assets/imgs/project_supervision.jpg' %}" loading="lazy" alt="A woman supervising her team mates"/>
                                </div>

                                <div class="content-box card-h">
                                    <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                        <div class="mac-buttons d-flex align-items-center">
                                            
                                        </div>
            
                                        <div class="action-btn d-flex align-items-center">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>

                                    <h1>
                                        <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-3.svg' %}" alt="Icon"/></span> Boost accountability, unlock team potential
                                    </h1>
                                    <div class="content">
                                        <p>Just in case of incovenience and incapabiliities of project teams in your organization, we can put in measures to improve disciplines of your project.</p>
                                        
                                    </div>
                                    <a href="#contactSection" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="psychology_guidance" role="tabpanel" aria-labelledby="psychology_guidance-tab">
                            <div class="about2-tab-content-body d-flex gap-24">
                                <div class="img-box">
                                    <img src="{% static 'assets/imgs/psychology.jpg' %}" loading="lazy" alt="A lady having a conversation with a woman"/>
                                </div>

                                <div class="content-box card-h">
                                    <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                        <div class="mac-buttons d-flex align-items-center">
                                            
                                        </div>
            
                                        <div class="action-btn d-flex align-items-center">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>

                                    <h1>
                                        <span class="icon"><img src="{% static 'assets/imgs/hwd-icon-3.svg' %}" alt="Icon"/></span> Boost accountability, unlock team potential
                                    </h1>
                                    <div class="content">
                                        <p>Just in case of incovenience and incapabiliities of project teams in your organization, we can put in measures to improve disciplines of your project.</p>
                                        
                                    </div>
                                    <a href="#contactSection" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Feature -->
        <section class="feature2-area">
            <img src="{% static 'assets/imgs/bg-shape-feature.svg' %}" alt="Shape" class="bg-shape" />
            <div class="custom-container">
                <div class="custom-row">
                    <div class="feature2-content">
                        <div class="feature2-header">
                            <h5 class="section-subtitle">CONSULTING EXCELLENCE</h5>
                            <h1 class="section-title">Building a long lasting solution.</h1>
                        </div>

                        <div class="feature2-content-body d-flex flex-wrap">
                            <div class="feature2-card ">
                                <span class="icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-1.svg' %}" alt="Icon"/>
                                </span>
                                <h3>Customized Solutions</h3>
                                <p>Crafting tailored solutions designed to captivate your target audience and drive client acquisition.</p>
                            </div>
                            <div class="feature2-card">
                                <span class="icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-4.svg' %}" alt="Icon"/>
                                </span>
                                <h3>Elevate your business</h3>
                                <p>Elevate your business presence with innovative strategies that resonate with potential clients.</p>
                            </div>
                            <div class="feature2-card">
                                <span class="icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-3.svg' %}" alt="Icon"/>
                                </span>
                                <h3>Client retention</h3>
                                <p>Deliver standout experiences that compel clients to choose your brand over competitors.</p>
                            </div>
                            <div class="feature2-card">
                                <span class="icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-2.svg' %}" alt="Icon"/>
                                </span>
                                <h3>Implement solutions</h3>
                                <p>Empower your business growth by implementing solutions that establish trust and loyalty among clients.</p>
                            </div>
                        </div>
                    </div>

                    <div class="feature2-img-box">
                        <div class="feature2-img-box-inner ">
                            <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                <div class="mac-buttons d-flex align-items-center">
                                   
                                </div>
    
                                <div class="action-btn d-flex align-items-center">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <img src="{% static 'assets/imgs/laptop-study.jpg' %}" loading="lazy" height="550" alt="a man researching on his pc"/>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- News -->
        {% if blog %}
        <section class="news2-area">
            <div class="custom-container">
                <div class="section-header d-flex align-items-center justify-content-between">
                    <div class="left">
                        <h5 class="section-subtitle">DAILY NEWS</h5>
                        <h1 class="section-title">Read more about daily insights</h1>
                        <p>In a fast-paced world where information shapes, our daily news service is your informed about the latest developments</p>
                    </div>
                    
                    <a href="{% url "core:blogs" %}" class="theme-btn">
                        Learn More 
                        <i class="iconoir-arrow-up-right"></i>
                    </a>
                </div>

                <div class="news2-lists d-flex">
                    {% for blog in blogs %}
                    <div class="news2-card card-h">
                        <img src="{{blog.image.url}}" loading="lazy" alt="OpenmindsInc Blog image"/>
                        <div class="news2-card-body">
                            <div class="meta">
                                <span class="date">{{blog.date|date:"d M, Y"}}</span>
                                {% comment %} <a href="blog-details.html" class="category">#Travel</a> {% endcomment %}
                            </div>
                            <h2><a href="{% url "core:blog-detail" blog.bid %}">{{blog.blog_title}}</a></h2>
                            <p>{{blog.description|truncatechars:"120"|safe}}</p>
                            <a href="{% url "core:blog-detail" blog.bid %}" class="theme-btn">
                                <i class="iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="news2-sticky news2-card d-flex card-h">
                    {% for event in events %}
                    <img src="{% static 'assets/imgs/bg-shape-blog-sticky.svg' %}" alt="Shape" class="bg-shape"/>
                    <img src="{{event.image.url}}" alt="OpenmindsInc Event"/>
                    <div class="news2-card-body">
                        <div class="meta">
                            <span class="date">{{event.date|date:"d M, Y"}}</span>
                            <a href="#" class="category">#Technology</a>
                        </div>
                        <h2><a href="{% url "core:event-detail" event.eid %}">{{event.main_page_title}}</a></h2>
                        <p>{{event.description|truncatechars:"120"|safe}}</p>
                        <a href="{% url "core:event-detail" event.eid %}" class="theme-btn">
                            <i class="iconoir-arrow-up-right"></i>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        {% endif %}


{% comment %}
            <!-- Our Team -->
            <section class="our-team-area">
                <div class="custom-container">
                    <div class="section-header d-flex align-items-end justify-content-between w-full">
                        <div class="left">
                            <h5 class="section-subtitle">OUR TEAM</h5>
                            <h1 class="section-title">Our team consists of<br> world class experts</h1>
                        </div>
                        
                        <p>We are proud to introduce you to the talented individuals who make up our consultancy's backbone, each contributing their unique skills and wealth of experience to drive transformative results.</p>
                    </div>
    
    
                    <div class="our-teams-list">
                        <div class="our-team-box d-flex" id="first-box">
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/team-2.jpg' %}" alt="Team"/>
                            </div>
                            <div class="our-team-body card-h">
                                <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                    <div class="mac-buttons d-flex align-items-center">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
        
                                    <div class="action-btn d-flex align-items-center">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
    
                                <div class="our-team-body-inner">
                                    <div class="our-team-personal-details">
                                        <h3 class="name">
                                            <span class="icon"><i class="las la-user"></i></span> Henderson Mario
                                        </h3>
                                        <h3 class="web-design">
                                            <span class="icon"><i class="las la-vector-square"></i></span> Web Designer
                                        </h3>
                                        <h3 class="location">
                                            <span class="icon"><i class="las la-map-marker"></i></span> Melbourne, AUS
                                        </h3>
                                        <h3 class="experience">
                                            <span class="icon"><i class="lar la-star"></i></span> 7 Years Experience
                                        </h3>
                                    </div>
                                    <div class="our-team-bio">
                                        <p>In the ever-evolving landscape of business, are in robust and well defined strategies is the compassing that guides your journey to success. At Strategic Business Solutions, we specialize in crafting business strategies that go beyond mere plans. They are blueprints for growth, innovation, solution and enduring compassing that prosperity. At Strategic Business Solutions.</p>
                                    </div>
                                    <a href="team.html" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
    
                        <div class="our-team-box our-team-box2 d-flex">
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/team-1.jpg' %}" alt="Team"/>
                            </div>
                            <div class="our-team-body card-h">
                                <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                    <div class="mac-buttons d-flex align-items-center">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
        
                                    <div class="action-btn d-flex align-items-center">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                
                                <div class="our-team-body-inner">
                                    <div class="our-team-personal-details">
                                        <h3 class="name">
                                            <span class="icon"><i class="las la-user"></i></span> Annie Coral
                                        </h3>
                                        <h3 class="web-design">
                                            <span class="icon"><i class="las la-vector-square"></i></span> Business Analyst
                                        </h3>
                                        <h3 class="location">
                                            <span class="icon"><i class="las la-map-marker"></i></span> San francisco, USA
                                        </h3>
                                        <h3 class="experience">
                                            <span class="icon"><i class="lar la-star"></i></span> 5 Years Experience
                                        </h3>
                                    </div>
                                    <div class="our-team-bio">
                                        <p>In the ever-evolving landscape of business, are in robust and well defined strategies is the compassing that guides your journey to success. At Strategic Business Solutions, we specialize in crafting business strategies that go beyond mere plans. They are blueprints for growth, innovation, solution and enduring compassing that prosperity. At Strategic Business Solutions.</p>
                                    </div>
                                    <a href="team.html" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
    
                        <div class="our-team-box our-team-box3 d-flex">
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/team-3.jpg' %}" alt="Team"/>
                            </div>
                            <div class="our-team-body card-h">
                                <div class="mac-btns-wrap d-flex align-items-center justify-content-between">
                                    <div class="mac-buttons d-flex align-items-center">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
        
                                    <div class="action-btn d-flex align-items-center">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                
                                <div class="our-team-body-inner">
                                    <div class="our-team-personal-details">
                                        <h3 class="name">
                                            <span class="icon"><i class="las la-user"></i></span> Elsa Hermione
                                        </h3>
                                        <h3 class="web-design">
                                            <span class="icon"><i class="las la-vector-square"></i></span> Senior Developer
                                        </h3>
                                        <h3 class="location">
                                            <span class="icon"><i class="las la-map-marker"></i></span> Edinburgh, UK
                                        </h3>
                                        <h3 class="experience">
                                            <span class="icon"><i class="lar la-star"></i></span> 3 Years Experience
                                        </h3>
                                    </div>
                                    <div class="our-team-bio">
                                        <p>In the ever-evolving landscape of business, are in robust and well defined strategies is the compassing that guides your journey to success. At Strategic Business Solutions, we specialize in crafting business strategies that go beyond mere plans. They are blueprints for growth, innovation, solution and enduring compassing that prosperity. At Strategic Business Solutions.</p>
                                    </div>
                                    <a href="team.html" class="theme-btn">
                                        <i class="iconoir-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>
{% endcomment %}


        <!-- Testimonial -->
        <section class="testimonial-area">
            <div class="custom-container">
                
                <div class="testimonial-slider-wrap">
                    <div class="testimonial-slider swiper">
                        
                        <div class="swiper-wrapper">
                            {% for review in reviews %}
                            <div class="swiper-slide testimonial-item">
                                <div class="testimonial-item-body">
                                    <img class="animation-slide-right bg-shape" src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape"/>
                                    
                                    <h1>{{review.title}}</h1>
                                    <p>{{review.review}}</p>
                                    <div class="author-box d-flex align-items-center">
                                        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path 
                                            d="M5.75988 19.8248C6.9173 17.5547 9.27709 16 12 16C14.7019 16 17.0462 17.5308 18.2131 19.7723M14.3333 10.4444C14.3333 11.7945 13.2389 12.8889 11.8889 12.8889C10.5389 12.8889 9.44444 11.7945 9.44444 10.4444C9.44444 9.09442 10.5389 8 11.8889 8C13.2389 8 14.3333 9.09442 14.3333 10.4444ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22Z" 
                                            stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </svg>
                                        <div class="author-box-content">
                                            <h4>{{review.user}}</h4>
                                            <p>{{review.occupation}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    
                    </div>
                    
                    <!-- navigation buttons -->
                    <div class="swiper-button-prev"><i class="iconoir-arrow-left"></i></div>
                    <div class="swiper-button-next"><i class="iconoir-arrow-right"></i></div>
                </div>

            </div>
        </section>
        {% if make_review == True %}
        {% if request.user.is_authenticated %}
        <div class="custom-container">

            <div class="hero-contact-form-wrap">
                <div class="hero-contact-form-inner-wrap">
                    <div class="mt-5">

                        <div class="hero-contact-form-header d-flex align-items-center justify-content-between">
                            <p class="section-title add-review" style="font-size: 28px;">Leave Us A Review</p>

                            
                        </div>

                        <div class="hero-contact-form hide-comment-form">
                            <form action="{% url "core:ajax-add-review" %}" id="reviewForm"  method="POST" class="contact-form d-flex ">
                                {% csrf_token %}
                                <div class="input-main-row">
                                    
                                    <div class="input-row">
                                        <div class="input-group">
                                           
                                            <label for="Occupation">Review Title</label>
                                            {{review_form.title}}
                                        </div>
                                        
                                    </div>
                                    <div class="input-row">
                                        <div class="input-group">
                                           
                                            <label for="Occupation">Occupation</label>
                                           {{review_form.occupation}}
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="input-main-row">
                                    <div class="input-row">
                                        <div class="input-group">
                                            <label for="message">Message</label>
                                            {{review_form.review}}
                                        </div>
                                    </div>
                                   
                                   
                                    <div class="input-row">
                                        <div class="input-group">
                                            <button class="theme-btn" id="reviewSubmit">Submit</button>
                                        </div>
                                    </div>
                                    <!-- Alert Message -->
                                    <div class="input-row">
                                        <div class="input-group alert-notification">
                                            <div id="alert-message" class="alert-msg"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {% endif %}
        {% endif %}






        <!-- Footer -->
        {% endblock MainContent %}