{% extends "partials/base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block MainContent %}

        <!-- Blog Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-blog-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Blog</h5>
                            <h1 class="section-title fade-in">Explore our blog for expert 
                                knowledge and inspiration</h1>
                            <p class="mb-5">Stay connected with us by subscribing to our blog updates. By doing so, <br>
                                you'll receive notifications whenever we publish new articles.</p>
                                <form class="search-box"  action="{% url 'core:search' %}"  method="GET">
                                    <input type="text" name="q" placeholder="Search blogs"/>
                                    <button type="reset"></button>
                                </form>
                        </div>
                        
                       

                    
                    </div>
                </div>
            </div>
        </section>

        <!-- News -->
        <section class="news-area pt-0">
            <div class="custom-container">
                {% if blogs %}
                <div class="news-items align-items-start">
                    
                    {% for blog in blogs %}
                    <div class="news-item card-h">
                        <div class="news-img-box">
                            <img src="{{blog.image.url}}" alt="News"/>
                        </div>
                        <div class="news-item-body">
                            <h5 class="section-subtitle">By {{blog.user}}</h5>
                            <h1 class="section-title">
                                <a href="{% url "core:blog-detail" blog.bid %}">{{blog.blog_title}}</a>
                            </h1>
                            <p>{{blog.description|truncatechars:"103"|safe}}.</p>
                            <ul>
                                <li>
                                    <i class="las la-check"></i> Collaboration Tools
                                </li>
                                <li>
                                    <i class="las la-check"></i> Smart Reminders
                                </li>
                                <li>
                                    <i class="las la-check"></i> Requirement
                                </li>
                                <li>
                                    <i class="las la-check"></i> Task Management
                                </li>
                            </ul>
                            <a href="{% url "core:blog-detail" blog.bid %}" class="theme-btn">
                                <i class="iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

             
                    
                   
                    


                </div>
                {% else %}
                <div class="div-to-style">
                    <lord-icon
                    src="https://cdn.lordicon.com/ybaojceo.json"
                    trigger="hover"
                    style="width:100px;height:100px;">
                </lord-icon>
                <h1 class="section-title">
                    <p>No results found for '{{query}}'</p>
                </h1>
                </div>
                {% endif %}

            </div>
        </section>





{% endblock MainContent %}