
{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon-32x32.png' %}">
    <style>
        #site-name a{
            color: #fff !important;
        }
        #header{
            background: #0391d3;
            font-family: 'Poppins', sans-serif;
        }
        input[type="submit"]{
            background: #0391d3;
            font-family: 'Poppins', sans-serif;
        }
        input[type="submit"]:hover{
            background: #0391d3;
            font-family: 'Poppins', sans-serif;
        }
        caption{
            background: #0391d3 !important;
            font-family: 'Poppins', sans-serif !important;
        }
        th a, .changelink, .deletelink, .content, input,select{
            font-family: 'Poppins', sans-serif !important;
        }
        td a, th, td{
            font-family: 'Poppins', sans-serif !important;
        }
        h1{
            font-family: 'Poppins', sans-serif !important;
        }
    </style>
{% endblock %}